.color-picker {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 10px;
  }
  
  .color {
    width: 30px;
    height: 30px;
    margin: 5px;
    border-radius: 50%;
    cursor: pointer;
  }
  
  .hidden {
    display: none;
  }
  
  .code-block {
    background-color: #000;
    color: #fff;
    padding: 5px;
    border-radius: 5px;
  }
  
  .discord-embed {
    display: flex;
    border-radius: 5px;
    background-color: #36393f;
    overflow: hidden;
    margin-bottom: 10px;
    width: 300px;
}

.discord-embed-left-strip {
    flex-shrink: 0;
    width: 5px;
    background-color: #7289da;
}

.discord-embed-right-content {
    padding: 10px;
    color: #ffffff;
}
  
  .discord-embed-title {
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .discord-embed-description {
    color: #ddd;
    font-size: 16px;
  }
  